{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cuestionario</title>
    <link rel="stylesheet" href="{% static '/styles/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static '/styles/cuestionario.css' %}">


</head>
<body>
   
  
  <div class="container d-flex justify-content-center align-items-center min-vh-100">
    <div class="row border rounded-5 p-3 bg-white shadow box-area">
      <div class="col-md-6 right-box">
        <div class="row align-items-center">
          <div class="header-text mb-4">
           <h2>Cuestionario</h2>    
          </div>
              
            <form action>
              <div class="input-group mb-5 d-flex justify-content-between">
                <h3>1.-Cuantos dispositivos tiene tu organización?</h3>
                  <div class="form-check">
                      <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                      <label class="form-check-label" for="flexRadioDefault1">
                      a. 1<=50 (pequeña)
                      </label>
                    </div>
                  <div class="form-check">
                    <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked>
                    <label class="form-check-label" for="flexRadioDefault2">
                      b. 51<=150 (mediana)
                    </label>
                    </div>
                  <div class="form-check">
                    <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault3" checked>
                    <label class="form-check-label" for="flexRadioDefault3">
                      c. 151 en adelante (Grande)
                    </label>
                  </div>
              </div>  
           </form>
           
           <form action>
              <div class="input-group mb-5 d-flex justify-content-between">
                <h3>2.-Cuentas con un antivirus?</h3>
                  <div class="form-check">
                    <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                    <label class="form-check-label" for="flexRadioDefault1">
                       a. si
                      </label>
                    </div>
                  <div class="form-check">
                    <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked>
                    <label class="form-check-label" for="flexRadioDefault2">
                        b. no
                      </label>
                  </div>
              </div>
            </form>  
 
            <form action>
              <div class="input-group mb-5 d-flex justify-content-between">
                <h3>3.-Comprendes como utilizar tu antivirus?</h3>
                  <div class="form-check">
                    <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                    <label class="form-check-label" for="flexRadioDefault1">
                        a. si
                      </label>
                    </div>
                  <div class="form-check">
                    <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked>
                    <label class="form-check-label" for="flexRadioDefault2">
                        b. no
                      </label>
                    </div>
              </div>
            </form>  

            <form action>
              <div class="input-group mb-5 d-flex justify-content-between">
                <h3>4.-Tienes algún servidor físico en tu organización?</h3>
                  <div class="form-check">
                    <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                    <label class="form-check-label" for="flexRadioDefault1">
                        a. si
                      </label>
                    </div>
                  <div class="form-check">
                    <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked>
                    <label class="form-check-label" for="flexRadioDefault2">
                        b. no
                      </label>
                    </div>
              </div>
            </form>  

            <form action>
              <div class="input-group mb-5 d-flex justify-content-between">
                <h3>5.-La organización tiene algún servicio con salida vía Nateo a la nube?</h3>
                  <div class="form-check">
                    <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                    <label class="form-check-label" for="flexRadioDefault1">
                        a. si
                      </label>
                    </div>
                  <div class="form-check">
                    <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked>
                    <label class="form-check-label" for="flexRadioDefault2">
                        b. no
                      </label>
                    </div>
              </div>
            </form>  

            <form action>
              <div class="input-group mb-5 d-flex justify-content-between">
                <h3>6.-Realiza conexiones remotas?</h3>
                  <div class="form-check">
                    <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                    <label class="form-check-label" for="flexRadioDefault1">
                        a. salida
                      </label>
                    </div>
                  <div class="form-check">
                    <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked>
                    <label class="form-check-label" for="flexRadioDefault2">
                        b. no
                      </label>
                  </div>
              </div>
            </form>  

                <div class="row">
                <small><a href="">Enviar</a></small>
                </div>
               </div>
             </div>
          </div>
        </div>

</body>
</html>