{% extends 'layouts/base.html' %}
{% load static %}

{% block content %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cuestionario</title>
    <link rel="stylesheet" href="{% static '/styles/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static '/styles/cuestionario.css' %}">


</head>

<body>
    <div class="container d-flex justify-content-center align-items-center min-vh-100">
        <div class="row border rounded-5 p-3 bg-white shadow box-area">
            <div class="col-md-6 right-box">
                <div class="row align-items-center">
                    <div class="header-text mb-4">
                        <h2>Cuestionario</h2>
                    </div>
                    {{hecho_identify}}
                    test
                    {{hecho_conciencia}}
                    test
                    {{hecho_herramientas}}
                    <div id="form-section-1" class="form-section">
                        {% if hecho_identify == 'True' %}
                        {% for r in r_Identificar %}
                        <div text="align-items-center">
                            <p>{{r.pregunta}}</p>
                        </div>
                        <div text="align-items-center">
                            <p>{{r.respuesta}}</p>
                        </div>
                        {% endfor %}
                        <div>
                            <button type="button" onclick="nextSection(2)" class="btn btn-primary">Siguiente</button>
                        </div>
                        {% else %}
                        <div>
                            <label>
                                El formulario aún no se ha realizado
                            </label>
                            <button type="button" onclick="redirectToForm()">
                                Formulario
                            </button>
                        </div>
                        {% endif %}
                    </div>

                    <div id="form-section-2" class="form-section" style="display: none;">
                        {% if hecho_conciencia == 'True' %}
                        {% for r in r_Conciencia %}
                        <div text="align-items-center">
                            <p>{{r.pregunta}}</p>
                        </div>
                        <div text="align-items-center">
                            <p>{{r.respuesta}}</p>
                        </div>
                        {% endfor %}
                        <div>
                            <button type="button" onclick="prevSection(1)" class="btn btn-secondary">Anterior</button>
                            <button type="button" onclick="nextSection(3)" class="btn btn-primary">Siguiente</button>
                        </div>
                        {% else %}
                        <div>
                            <label>
                                El formulario aún no se ha realizado
                            </label>
                            <button type="button" onclick="redirectToForm()">
                                Formulario
                            </button>
                        </div>
                        {% endif %}
                    </div>

                    <div id="form-section-3" class="form-section" style="display: none;">
                        {% if hecho_herramientas == 'True' %}
                        {% for r in r_Herramientas %}
                        <div text="align-items-center">
                            <p>{{r.pregunta}}</p>
                        </div>
                        <div text="align-items-center">
                            <p>{{r.respuesta}}</p>
                        </div>
                        {% endfor %}
                        <div>
                            <button type="button" onclick="prevSection(2)" class="btn btn-secondary">Anterior</button>
                        </div>
                        {% else %}
                        <div>
                            <label>
                                El formulario aún no se ha realizado
                            </label>
                            <button type="button" onclick="redirectToForm()">
                                Formulario
                            </button>
                        </div>
                        {% endif %}
                    </div>

                </div>
            </div>
        </div>
    </div>    

        <script>
            function nextSection(sectionNumber) {
                document.getElementById('form-section-' + sectionNumber).style.display = 'block';
                document.getElementById('form-section-' + (sectionNumber - 1)).style.display = 'none';
            }

            function prevSection(sectionNumber) {
                document.getElementById('form-section-' + sectionNumber).style.display = 'block';
                document.getElementById('form-section-' + (sectionNumber + 1)).style.display = 'none';
            }
            function redirectToForm() {
                window.location.href = "{% url 'form' %}";
            }
        </script>

</body>

</html>

{% endblock %}