{% extends 'layouts/base.html' %}
{% load static %}

{% block content %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Cuestionario</title>
  <link rel="stylesheet" href="{% static '/styles/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static '/styles/cuestionario.css' %}">


</head>

<body>
  <div class="container d-flex justify-content-center align-items-center min-vh-100">
    <div class="row border rounded-5 p-3 bg-white shadow box-area">
      <div class="col-md-6 right-box">
        <div class="row align-items-center">
          <div class="header-text mb-4">
            <h2>Cuestionario</h2>
          </div>
          <div id="form-section-1" class="form-section">
            {% if hecho_identify == 'False' %}
            <form id='form-1' action="{% url 'save_Identify' %}" method="POST">
              {% csrf_token %}

              {% for question in identify_form %}
                <p><label>{{question.label_tag}}</label></p>
                <p><label>{{question}}</label></p>
              {% endfor %}
              <div class="row">
                <small><button type="submit"
                    class="btn btn-lg bg-gradient-rpimary btn-lg w-100 mt-4 mb-0">Enviar</button></small>
              </div>
            </form>              
              {% else %}
              <div>
                <label>
                  El formulario ya se ha realizado
                </label>
                <button>
                  Respuestas
                  <a href="{% url 'consult' %}"></a>
                </button>
              </div>
              <div>
                <button type="button" onclick="nextSection(2)" class="btn btn-primary">Siguiente</button>
              </div>              
              {% endif %}
          </div>

          <div id="form-section-2" class="form-section" style="display: none;">
            {% if hecho_conciencia == 'False' %}
            <form id="form-2" action="{% url 'save_Conciencia' %}" method="POST">
              {% csrf_token %}
              {% for question in conciencia_form %}
                <p><label>{{question.label_tag}}</label></p>
                <p><label>{{question}}</label></p>
              {% endfor %}
              <div class="row">
                <small><button type="submit"
                    class="btn btn-lg bg-gradient-rpimary btn-lg w-100 mt-4 mb-0">Enviar</button></small>
              </div>
            </form>
              {% else %}
              <div>
                <label>
                  El formulario ya se ha realizado
                </label>
                <button>
                  Respuestas
                  <a href="{% url 'consult' %}"></a>
                </button>
              </div>
              <div>
                <button type="button" onclick="prevSection(1)" class="btn btn-secondary">Anterior</button>
                <button type="button" onclick="nextSection(3)" class="btn btn-primary">Siguiente</button>
              </div>              
              {% endif %}
          </div>

          <div id="form-section-3" class="form-section" style="display: none;">
            {% if hecho_herramientas == 'False' %}
            <form id=form-3 action="{% url 'save_Herramientas' %}" method="POST">
              {% csrf_token %}
              {% for question in herramientas_form %}
                <p><label>{{question.label_tag}}</label></p>
                <p><label>{{question}}</label></p>
              {% endfor %}
              <div class="row">
                <small><button type="submit"
                    class="btn btn-lg bg-gradient-rpimary btn-lg w-100 mt-4 mb-0">Enviar</button></small>
              </div>
            </form>
              {% else %}
              <div>
                <label>
                  El formulario ya se ha realizado
                </label>
                <button>
                  Respuestas
                  <a href="{% url 'consult' %}"></a>
                </button>
              </div>
              <div>
                <button type="button" onclick="prevSection(2)" class="btn btn-secondary">Anterior</button>
                <!--<button type="submit" class="btn btn-success">Enviar</button>-->
              </div>
              {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>

  <script>
    function nextSection(sectionNumber) {
      document.getElementById('form-section-' + sectionNumber).style.display = 'block';
      document.getElementById('form-section-' + (sectionNumber - 1)).style.display = 'none';
    }

    function prevSection(sectionNumber) {
      document.getElementById('form-section-' + sectionNumber).style.display = 'block';
      document.getElementById('form-section-' + (sectionNumber + 1)).style.display = 'none';
    }
  </script>

</body>

</html>

{% endblock %}