{% extends 'layouts/base.html' %}
{% load static %}

{% block content %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Cuestionario</title>
  <link rel="stylesheet" href="{% static '/styles/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static '/styles/cuestionario.css' %}">


</head>

<body>


  <div class="container d-flex justify-content-center align-items-center min-vh-100">
    <div class="row border rounded-5 p-3 bg-white shadow box-area">
      <div class="col-md-6 right-box">
        <div class="row align-items-center">
          <div class="header-text mb-4">
            <h2>Cuestionario</h2>
          </div>
          <div>
            {% if hecho == 'False' %}
            <form action="{% url 'save_Identify' %}" method="POST">
              {% csrf_token %}

              {% for question in identify_form %}
              <label>{{question.label_tag}}</label>
              <label>{{question}}</label>
              {% endfor %}
              <div class="row">
                <small><button type="submit"
                    class="btn btn-lg bg-gradient-rpimary btn-lg w-100 mt-4 mb-0">Enviar</button></small>
              </div>
              {% else %}
              <div>
                <label>
                  El formulario ya se ha realizado
                </label>
                <button>
                  Respuestas
                  <a href="{% url 'consult' %}"></a>
                </button>
              </div>
              {% endif %}
          </div>
          <!--
          <div>
            <form action="" method="POST">
              {% csrf_token %}
  
              {% for question in conciencia_form %}
              <label>{{question.label_tag}}</label>
              <label>{{question}}</label>
              {% endfor %}
              <div class="row">
                <small><a href="">Enviar</a></small>
              </div>
          </div>
          <div>
            <form action="" method="POST">
              {% csrf_token %}
  
              {% for question in herramientas_form %}
              <label>{{question.label_tag}}</label>
              <label>{{question}}</label>
              {% endfor %}
              <div class="row">
                <small><a href="">Enviar</a></small>
              </div>
          </div>
        -->
        </div>
      </div>
    </div>
  </div>

</body>

</html>

{% endblock %}