{% extends 'layouts/base.html' %}
{% load static %}

{% block content %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
    <title>DPAR</title>
    <!-- Bootstrap -->
	<link href="{% static '/styles/bootstrap.min.css' %}" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
	<link rel="stylesheet" href="{% static '/styles/menu 1.css' %}">
  </head>
  <body>
    <container>
      <img src="{% static '/img/Banner.gif' %}" class="img-fluid" alt="...">
    </container>
    <section class="my-3">
    <div class="container">
      <h1 class="title text-center" >Ransomware</h1>
      <div class="row">
        <div class="col-md-6 about-us">
          <p class="text-justifi" >La falta de conocimiento y comprensión de lo que es y con lleva un ataque de
            Ransomware es el principal reto de ciberseguridad al que se enfrentan las instituciones pequeñas y medianas
            (PyMEs) en nuestro país, esto debido a que por el tamaño de dichas organizaciones carecen de un departamento
            de ciberseguridad con personal especializado que les pueda apoyar ante una situación de riesgo. El problema
            radica en que, al contar con un personal poco entrenado en temas de ciberseguridad, se vuelve un reto para
            los departamentos de TI el proteger el activo más valioso de toda institución el cual es la información,
            debido a que desconocen cómo es que el Ransomware y sus variantes se comportan les imposible aplicar
            políticas de prevención adecuadas que los puedan ayudar a protegerse de este tipo de amenazas, y a esto se
            le suma el hecho de que al no ser capaces de identificar un incidente de Ransomware en el momento que se
            suscita se vuelve una tarea muy complicada el poder contener los ataques que se presenten.</p>

          <p class="text-justifi" style="color: white;">Esta situación se vuelve más compleja ya que el Ransomware como medio de ataque a
            sufrido diferentes cambios, lo que ha provocado que con el paso del tiempo este haya sufrido eventualmente
            una evolución en su estructura y al ir refinando sus procesos lo vuelve una amenaza aún más grave para las
            instituciones como lo son las PyMEs, que en la mayoría de los casos se ven obligadas a sucumbir a las
            extorsiones llegando a realizar el pago de un rescate por su información, lo que podría ser una situación
            que ponga en peligro crítico de bancarrota a las organizaciones.</p>

        </div>

        <div class="col-md-6">
          <img src="{% static '/img/cyber1.png' %}" class="img-fluid">
        </div>
      </div>
    </div>
  </section> 

  <section id="about-us">
    <div class="container">
      <h1 class="title text-center text-white">Estado actual del ransomware</h1>
      <div class="row">
        <div class="col-md-6">
          <img src="{% static 'img/security-265130_640.jpg' %}" class="img-fluid">
        </div>
        <div class="col-md-6 about-us text-white">
          <p class="texto">En la actualidad este tipo de ataques a tenido una tendencia a
            la baja a nivel global llegando a estar 40% comparado con su punto más alto durante la pandemia, pero a que
            se debe la reducción en el uso del Ransomware como vertiente principal de ataque como lo llego a ser solo
            hace un par de años.</p>

          <p class="texto">Cuando surgió la pandemia en el a finales del año 2019
            presenciamos un cambio en la forma en la cual muchas organizaciones operaban de manera habitual siendo
            forzados a migrar sus operaciones a procesos digitales para poder adaptar de alguna manera una especie de
            teletrabajo improvisado para poder continuar con sus operaciones, este hecho implico que se adoptaran nuevas
            metodologías sin estrategia y provocando un incremento en la gestión digital de la información. Otra acción
            consecuente a este cambio fue que soluciones convencionales como Firewalls y sistemas EDR (Endpoint
            Detection and Response / Antivirus) locales quedaron sobre pasados ya que al no poder extender sus
            protecciones fuera del perímetro de la organización dejaron desprotegidos los equipos en casa y las
            soluciones as a service en la nube.</p>

          <p class="texto">Un factor clave muy importante que jugo en contra fue la
            necesidad imperante de volver a la operación lo antes posible lo cual obligo a muchas organizaciones a tomar
            decisiones apresuradas lo cual es una de las peores medidas que podemos hacer cuando hablamos de
            ciberseguridad.</p>

          <p class="texto">Todo esto por consiguiente llevo a un incremento sin precedentes
            en cuanto a ataques del robo y secuestro de la información (RANSOMWARE), provocando grandes pérdidas en
            empresas alrededor de todo el mundo, por lo que la gran mayoría de estas aprendió de su errores y empezaron
            a preocuparse de la información que gestionan de manera digital lo cual provoco mejoras en las soluciones de
            protección al igual que la implementación de políticas y estándares internacionales de ciberseguridad, de
            igual manera provoco que muchos gobiernos se tomaran más en serio el manejo de la información por parte de
            las compañías obligándolos a tomar medidas preventivas para la perdida de información e incrementando las
            responsabilidades por el mal manejo de la misma, lo cual provoco una gran reducción a la tasa de ataques de
            ransomware.</p>


          <p class="texto">Pero esto a nivel Global, México por su parte seria la excepción
            al caso, ya que no solo han incrementado los ataques de ransomware en el país si no que los atacantes son
            cada vez más ambiciosos pidiendo rescates no solo para recuperar la información, sino que también para
            “asegurar” que no filtraran información de carácter sensible al público o compañías rivales, pero porque es
            que esta situación se presenta en nuestro país, esto se lo podría atribuir a razones como lo son:</p>

          <ul>
            <li><strong>Cambios a la baja en el costo de criptomonedas</strong>, lo cual afecta
              los ingresos de
              los cibercriminales provocando que tengan que recuperar sus recursos llevando nuevos ataques.</li>
            <li><strong>El uso de tecnología obsoleta en el país</strong>, México es un país que
              tiende a tener una brecha en cuanto a la tecnología que utiliza estando 2 o 3 años detrás de países como
              lo es estados unidos, por lo que los colectivos de hackers se aprovechan de esta situación utilizando
              herramientas que incluso ya no funcionan en otros países.</li>
            <li><strong>Mal manejo de las vulnerabilidades</strong>, una falta de cultura y
              conciencia de las organizaciones sobre todo en las PYMEs debido al pensamiento de que nunca serán ciber
              atacados provocan una despreocupación total ante las ciberamenazas lo cual con lleva a que no solo no
              apliquen protecciones en muchos de los casos, sino que aparte de esta preocupante situación tampoco tengan
              el cuidado de validar que sus sistemas estén siempre actualizados, porque no comprenden el peligro que
              conlleva el no hacerlo.</li>
            <li><strong>Mala gestión de riesgos</strong>, el hecho de que muchas de las
              organizaciones están dispuestos a pagar un rescate y tener un fondo de prevención para ataques, a tomar
              medidas preventivas hace que se vuelvan en victimas recurrentes de los atacantes.</li>
          </ul>
        </div>
      </div>
    </div>
  </section>


  </body>
</html>

{% endblock %}