<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static '/styles/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static '/styles/registro.css' %}">
    <title>Registro</title>
</head>
<body>

    <link rel="icon" href="{% static '/img/logo 4min.png' %}">

     <div class="container d-flex justify-content-center align-items-center min-vh-100">

       <div class="row border rounded-5 p-3 bg-white shadow box-area">

       <div class="col-md-6 rounded-4 d-flex justify-content-center align-items-center flex-column left-box">
           <div class="featured-image mb-3">
           <img src="{% satatic '/img/logo 4.png' %}" class="justify-content-center align-items-center img-fluid" alt="Placeholder image"> </div>
       </div> 

    
       
       <div class="col-md-6 right-box">
          <div class="row align-items-center">
                <div class="header-text mb-4">
                     <h2>Bienvenido</h2>         
            </div>

        <div class="mb-4">
            <label for="correo"><i class="bi bi-envelope-fill"></i> Correo electronico</label>
            <input type="email" class="form-control" name="correo" id="correo" placeholder= "ej: cacahuate@mail.com" required>
            <div class="correo text-danger">

            </div> 
            <div class="valid-feedback">
                Todo bien
            </div>
            <div class="invalid-feedback">
               Es necesario poner el correo electronico
            </div>   
        </div>


        <div class="mb-4">
            <label for="password" class="form-label">Contraceña</label>
            <input type="password" class="form-control" name="password" id="validationCustom03" required>
            <div class="invalid-feedback">
                Debe agregar su contraseña
            </div>
        </div>


                <div class="input-group mb-5 d-flex justify-content-between">
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="formCheck">
                        <label for="formCheck" class="form-check-label text-secondary"><small>Recuerdame</small></label>
                    </div>
                    <div class="forgot">
                        <small><a href="#">Has olvidado tu contraseña?</a></small>
                    </div>
                </div>


                <div class="input-group mb-3">
                   <button class="btn btn-lg btn-primary w-100 fs-6" type="submit">iniciar sesión</button>
                </div> 


                <div class="input-group mb-3">
                    <button class="btn btn-outline-danger w-100 my-1">
						  <div class="row align-items-center">
						    <div class="col-2 d-none d-md-block">
							   <img src="{% static '/img/gmail.png' %}" width="32" alt="">
						    </div>
							  <div class="col-12 col-md-10 text-center">
							    Gmail
							  </div>
				            </div>
					   </button>
                    </div>
			  
			  <div class="input-group mb-3">
                    <button class="btn btn-primary w-100 my-1">
						  <div class="row align-items-center">
						    <div class="col-2 d-none d-md-block">
							   <img src="{% static '/img/face.png' %}" width="32" alt="">
						    </div>
							  <div class="col-12 col-md-10 text-center">
							    Facebook
							  </div>
				            </div>
					   </button>
                    </div>
			      
			     
			  
			  
            <div class="row">
                    <small>¿No tienes cuenta? <a href="formulari.html">Registrar</a></small>
            </div>

             
          </div>
       </div> 

      </div>
    </div>

</body>
</html>