/*----------navbar----------*/

.navbar-nav .nav-link{
    color: #fff;
  }
  .dropend .dropdown-toggle{
    color: rgb(17, 101, 17);
    margin-left: 1em;
  }
  .dropdown-item:hover{
    background-color: linear-gradient(30deg, #1D8E6E, #263E6C);
    
  }
  .dropdown .dropdown-menu{
    display: none;
  }
  .dropdown:hover > .dropdown-menu, .dropend:hover > .dropdown-menu{
    display: block;
    margin-top: .125em;
    margin-left: .125em;
  }
  @media screen and (min-width:769px) {
    .dropend:hover > .dropdown-menu{
      position: absolute;
      top: 0;
      left: 100%;
    }
    .dropend .dropdown-toggle{
      margin-left: .5em;
    }
  }

/*----------body----------*/
#about-us {
  background: #fff;
  padding-bottom: 50px;
  padding-top: 50px;
  color: #000;
}


/*----------footer----------*/

#footer {
    background: #202020;
    color: #ffffff;
  }
  
  .footer-box {
    padding: 20px;
  }
  
  .footer-box img {
    width: 120px;
    margin-bottom: 20px;
  }
  
  .footer-box .fa {
    margin-right: 8px;
    font-size: 25px;
    height: 480px;
    width: 40px;
    text-align: center;
    padding-top: 7px;
    border-radius: 2px;
    background-image: linear-gradient(to right, #65ceb0, #051c45);
    
  }