/*----------body----------*/
#about-us {
    background: linear-gradient(45deg,#0d6526, #062252);
    padding-bottom: 50px;
    padding-top: 50px;
    color: #ffffff;
  }

/*----------button----------*/

.btn {
   color: #ffffff;
   background: #0c2c85;
}

.modal-body {
    width: 800px;
    text-align: center;
    
}


/*----------footer----------*/

#footer {
    background: #202020;
    color: #ffffff;
  }
  
  .footer-box {
    padding: 20px;
  }
  
  .footer-box img {
    width: 120px;
    margin-bottom: 20px;
  }
  
  .footer-box .fa {
    margin-right: 8px;
    font-size: 25px;
    height: 480px;
    width: 40px;
    text-align: center;
    padding-top: 7px;
    border-radius: 2px;
    background-image: linear-gradient(to right, #65ceb0, #051c45);
    
  }