@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

body{
    font-family: 'Poppins', sans-serif;
	background: #393938;
	background: linear-gradient(to right, #0e490f, #0b0c49); 
}

/*------------ Contenedor de inicio de sesión ------------*/

.box-area{
    width: 930px;
}

.box::before {
    content: '';
    position: absolute;
    top: -50%;
    left: -50%;
    width: 380px;
    height: 420px;
    background: linear-gradient(0deg,transparent, transparent, #0e490f,#0e490f,#0e490f );
    z-index: 1;
    animation: animate 6s linear infinite;
}

@keyframes animate{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(0deg);
    }
}

/*------------ Caja derecha ------------*/

.right-box{
    padding: 40px 30px 40px 40px;
}

/*------------ Marcador de posición personalizado ------------*/

::placeholder{
    font-size: 16px;
}

.rounded-4{
    border-radius: 20px;
}
.rounded-5{
    border-radius: 30px;
}


/*------------ Para pantallas pequeñas ------------*/

@media only screen and (max-width: 768px){

     .box-area{
        margin: 0 10px;

     }
     .left-box{
        height: 100px;
        overflow: hidden;
     }
     .right-box{
        padding: 20px;
     }

}