{% extends 'layouts/base.html' %}
{% load static %}

{% block content %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
    <title>DPAR</title>
    <!-- Bootstrap -->
	<link href="{% static '/styles/bootstrap.min.css' %}" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
	<link rel="stylesheet" href="{% static '/styles/menu 1.css' %}">
  </head>
  <body>


    <section id="about-us">
    <div class="container">
      <h1 class="title text-center" style="color: white;">Ransomware</h1>
      <div class="row">
        <div class="col-md-6 about-us">
          <p class="text-justifi" style="color: white;">La falta de conocimiento y comprensión de lo que es y con lleva un ataque de
            Ransomware es el principal reto de ciberseguridad al que se enfrentan las instituciones pequeñas y medianas
            (PyMEs) en nuestro país, esto debido a que por el tamaño de dichas organizaciones carecen de un departamento
            de ciberseguridad con personal especializado que les pueda apoyar ante una situación de riesgo. El problema
            radica en que, al contar con un personal poco entrenado en temas de ciberseguridad, se vuelve un reto para
            los departamentos de TI el proteger el activo más valioso de toda institución el cual es la información,
            debido a que desconocen cómo es que el Ransomware y sus variantes se comportan les imposible aplicar
            políticas de prevención adecuadas que los puedan ayudar a protegerse de este tipo de amenazas, y a esto se
            le suma el hecho de que al no ser capaces de identificar un incidente de Ransomware en el momento que se
            suscita se vuelve una tarea muy complicada el poder contener los ataques que se presenten.</p>

          <p class="text-justifi" style="color: white;">Esta situación se vuelve más compleja ya que el Ransomware como medio de ataque a
            sufrido diferentes cambios, lo que ha provocado que con el paso del tiempo este haya sufrido eventualmente
            una evolución en su estructura y al ir refinando sus procesos lo vuelve una amenaza aún más grave para las
            instituciones como lo son las PyMEs, que en la mayoría de los casos se ven obligadas a sucumbir a las
            extorsiones llegando a realizar el pago de un rescate por su información, lo que podría ser una situación
            que ponga en peligro crítico de bancarrota a las organizaciones.</p>

        </div>

        <div class="col-md-6">
          <img src="{% static '/img/cyber1.png' %}" class="img-fluid">
        </div>
      </div>
    </div>
  </section> 


	<script src="{% static '/js/bootstrap.bundle.min.js' %}"></script>
  </body>
</html>

{% endblock %}