{% extends 'layouts/base.html' %}
{% load static %}

{% block content %}

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Firewall</title>
    <!-- Bootstrap -->
    <link href="{% static '/styles/bootstrap.min.css' %}" rel="stylesheet" type="text/css">
    <link rel="icon" href="{% static '/img/logo 4min.png' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <link rel="stylesheet" href="{% static '/styles/firewalle.css' %}">
</head>

<body>

    <!-- body -->
    <section id="about-us">
    <div class="container">
        <h1 class="title text-center">Firewall</h1>
        <div class="row">
            <div class="col-md-6 about-us">
                <p class="about-title"> </p>
                <p class="text-justifi">Los Firewalls son muy importantes para bloquear las conexiones maliciosas y
                    ataques externos, son muy importantes cuando se suscita un ataque de Ransomware para bloquear las
                    comunicaciones de los atacantes para evitar que manden cambios en los procesos del ataque o que
                    sustraigan información. Otras de las ventajas que nos otorga un firewall y que son de gran utilidad
                    a la hora de enfrentar un ciberataque son las capacidades de segmentar la red, aplicar controles de
                    acceso a la red y filtrados de contenido.</p>

                <p class="text-justifi"></p>

            </div>
            <div class="col-md-6">
                <img src="{% static '/img/firewall/cyber-security-3194286_640.jpg' %}" class="img-fluid">
            </div>
        </div>
    </div>
</section>

    <br>


        <div class="container">
            <h1 class="title text-center">Segmentación de la red</h1>
            <div class="row">
                <div class="col-md-6">
                    <img src="{% static '/img/firewall/map-4636843_640.jpg' %}" class="img-fluid">
                </div>
                <div class="col-md-6 about-us">
                    <p class="about-title"> </p>
                    <p class="text-justifi">La segmentación de la red es un punto muy importante para la gestión del
                        perímetro de la organización, ya que con esto podemos aislar de una manera segura equipos como
                        los servidores que son de los recursos más importantes de una organización, ya que es ahí donde
                        se encuentran recursos web, bases de datos, gestores de correo electrónico, etc.
                        Otro punto importante para considerar es que la mejor practica seria segmentar las rede de
                        invitados dejándolos totalmente aislados de las redes internas para prevenir un ataque lateral a
                        nivel de red.
                        Dentro de la segmentación de la Red hay un término que se conoce como “zona desmilitarizada”
                        (DMZ) se sugiere altamente la implementación de la misma, esta consiste en dividir la LAN y la
                        DMZ que será un segmento de la red donde se colocaran los servidores, todo el tráfico de la DMZ
                        saldrá por la LAN, y solo se podrá acceder a este segmento mediante conexiones remotas, para un
                        ejemplo de configurar validar en la sección de blog el archivo de guía de ejemplo SGSI.
                        La segmentación de la Red Local (LAN) es de suma importancia porque en caso de que se presentara
                        algún incidente de Ransomware lo podemos aislar en un área específica para evitar su propagación
                        a toda la red, por lo que es de vital importancia configurar VLANs que limiten la comunicación
                        entre una y otra en la medida de lo posible.</p>
                </div>
            </div>
        </div>


    <br>

    <section id="about-us">
        <div class="container">
            <h1 class="title text-center">Filtrado de Contenido</h1>
            <div class="row">
                <div class="col-md-6 about-us">
                    <p class="about-title">Muchas amenazas de Malware (Ransomware) se encuentran en sitios web de
                        ciertos tipos de contenido como páginas de descarga de software no oficial, páginas de apuestas,
                        contenido para adultos, etc. Por lo que es importante analizar a nivel organización que
                        contenidos se deben de poder acceder y otorgar acceso a estos recursos limitados</p>

                    <ul>
                        <li>a. PFsense
                            <ul>
                                <li>Se recomienda la implementación de un firewall Gratuito como Pfsense para
                                    organizaciones pequeñas, ya que cuenta con versiones de Firewall UTM (Unified Threat
                                    Management) para tener una gestión perimetral unificada para controlar la red y el
                                    contenido que se visualiza.
                                    Pfsense es un sistema basado en FreeBSD, que es una versión gratuita de Linux lo que
                                    le fue de utilidad para la adaptación a firewall con opción de Nateo de Red para la
                                    segmentación de subredes, cuenta con características que ayudan a una correcta
                                    gestión de la seguridad para brindar inicio de sesión y conexiones remotas.
                                </li>
                                <a type="button" class="btn btn-primary" href="https://www.pfsense.org/download/"
                                    target="_blank">
                                    Link de descarga
                                </a>
                                <li>Un punto para tomar en cuenta con soluciones de firewall gratuitas es que no hay
                                    centros de soporte por lo que la implementación requerirá un mínimo de conocimientos
                                    para configurarlo y administrarlo, se puede consultar el manual de implementación de
                                    un Firewall UTM en la sección de Blog.</li>
                            </ul>
                        </li>

                        <li>b. Sonicwall
                            <lu>
                        <li style="text-align: justify;">Se recomienda la implementación de cualquier Firewall de paga y de ellos se recomienda el
                            uso de un firewall Sonicwall, ya que cuentan con una fácil gestión de la protección y el
                            perímetro, al contar con una plataforma unificada para la gestión de soluciones de la marca
                            que van desde switchs, Access point, antivirus, protección del email y gestión del
                            perímetro.
                            Sumado a esto se le agrega la fácil gestión que brinda Sonicwall al ser una solución más
                            desarrollada y probada por compañías de diferentes tamaños alrededor del mundo contando con
                            una amplia base de datos de información sobre ataques, malware y ciber amenazas.
                        </li>
                        </lu>
                        </li>
                    </ul>



                </div>
                <div class="col-md-6">
                    <img src="{% static '/img/firewall/ai-generated-8362805_640.jpg' %}" class="img-fluid">
                </div>
            </div>
        </div>
    </section>

    <br>


    <div class="container">
        <h1 class="title text-center">NAC (Network Access Control)</h1>
        <div class="row">
            <div class="col-md-6">
                <img src="{% static '/img/firewall/technology-8362810_640.jpg' %}" class="img-fluid">
            </div>
            <div class="col-md-6 about-us">
                <p class="about-title">A nivel perimetral es recomendable hacer uso de un Network Access Control (NAC)
                    para
                    poder evitar la conexión a la red de usuarios que no formen parte de la organización, ya que si un
                    usuario
                    logra ingresar a la red y no ponemos un filtro le seria extremadamente fácil el desplegar un ataque
                    de
                    Ransomware dentro de una organización..</p>
                <p class="text-justifi">Es por eso necesario la implementación de un control de acceso a los usuarios el
                    cual
                    puede ser a través de un portal captativo el cual se puede configurar a través de cualquier firewall
                    y dentro
                    los controles que se pueden habilitar se recomienda ampliamente la habilitación de lo siguiente:</p>

                <p class="text-justifi">• Poner un límite de tiempo por sesión para que los usuarios validen s identidad
                    constantemente.</p>
                <p class="text-justifi">• Deshabilitar la opción de recordar o almacenar el inicio de sesión para evitar
                    que
                    algún usuario ajeno a la organización o algún usuario mal intencionado haga uso de los recursos de
                    la
                    organización con fácil impunidad</p>
                <p class="text-justifi">• Limitar la creación de usuarios como filtro de seguridad, otorgándoselo solo a
                    quien
                    realmente lo requiera, o manejar inicios de sesión temporal</p>

                <p class="text-justifi">Una mejor solución sería la implementación de un NAC como el que se obtiene con
                    la
                    solución de Appgate que brinda la capacidad de realizar una segmentación en base al usuario, con un
                    multi
                    factor de autenticación ya que de esta manera se asegura que también la conexión sea a travez de un
                    recurso
                    autorizado.</p>
            </div>
        </div>
    </div>


    <br>

    <section id="about-us">
        <div class="container">
            <h1 class="title text-center">Buenas prácticas en general:</h1>
            <div class="row">
                <div class="col-md-12">
                    <p class="about-title">• Segmentar la red (VLANS) para contener un posible ataque y contener en la
                        medida de
                        lo posible la afectación.</p>
                    <p class="text-justifi">• Tener una zona desmilitarizada (DMZ) para separar los servidores en la Red
                        y enviar
                        el tráfico encubierto hacía otro segmento de red cómo la LAN.</p>
                    <p class="text-justifi">• Hacer uso de Sistemas de prevención de intrusos (IPS) para limitar el
                        contenido que
                        se puede visualizar, bloqueando sitios con cierto tipo de contenido cómo pornografía, apuestas
                        online,
                        páginas de descarga de contenido ilegal y sitios de streaming ilegal.</p>
                    <p class="text-justifi">• Hacer uso de un Sistema de detección de Intrusos (IDS) para identificar
                        posibles
                        amenazas a nivel de red interna, es importante no solo depender del IDS, pero es de gran
                        utilidad para
                        complementar la seguridad.</p>
                    <p class="text-justifi">• En caso de detectar algún ataque y contenerlo, agregar reglas en el
                        firewall para
                        bloquear las IPs a las cuales se trate de comunicar el Ransomware.</p>
                    <p class="text-justifi">• Si se tiene una red de invitados preferentemente mantenerla aislada para
                        no
                        comprometer equipos de la red interna.</p>
                    <p class="text-justifi">• Implementar un portal captativo como mínima instancia, preferentemente se
                        sugiere
                        implementar un NAC (Network Access Control). </p>
                    <p class="text-justifi">• Para conexiones remotas o acceso a proveedores de servicios de manera
                        remota se debe
                        implementar una VPN, se sugiere la implementación de un ZTNA (Zero Trust Network Access) para
                        validar los
                        dispositivos remotos de una manera más segura.</p>
                    <p class="text-justifi">• Si se utiliza un firewall de Sonicwall se puede hacer una integración de
                        soluciones
                        (UTM) cómo antivirus, protección de email, gestión de switchs y access points de Sonicwall. Al
                        igual que
                        todas las características únicas de protección y cacería de amenazas.</p>
                    <p class="text-justifi">• Implementar un control de red para el acceso de los usuarios y prevenir
                        conexiones
                        no autorizadas.</p>
                </div>
            </div>
        </div>
    </section>

    {% endblock %}