{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DPAR</title>
    <link rel="icon" href="{% static '/img/logo 4min.png' %}">
</head>
<body>
    {% if user.is_authenticated %}
        {% block header %}
            {% include 'layouts/navigation_bar_in.html' %}
        {% endblock %}    
    {% else %}
        {% block header2 %}
            {% include 'layouts/navigation_bar_out.html' %}
        {% endblock %}
    {% endif %}

    {% block content %} {% endblock %}

    {% block footer %}
        {% include 'layouts/page_footer.html' %}
    {% endblock %}

</body>
</html>
