{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>DPAR</title>
  <!-- Bootstrap -->
  <link href="{% static '/syles/bootstrap.min.css' %}" rel="stylesheet" type="text/css">

</head>

<body>

  <nav class="navbar navbar-expand-lg navbar-dark" style="background: linear-gradient(to top right, #1D8E6E, #263E6C);">
    <div class="container-fluid">

      <a class="nav-link active" aria-current="page" href="{% url 'home' %}">
        <img src="{% static '/img/logo 4.png' %}" alt="Bootstrap" width="50" height="54" role="button">
      </a>
      <a class="navbar-brand fw-bold" href="#"></a>

      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav justify-content-center flex-grow-1 pe-3">
          <li class="nav-item ">
            <a class="nav-link active" aria-current="page" href="#">
              Bp de prevencion
            </a>
          </li>

          <li class="nav-item ">
            <a class="nav-link active" aria-current="page" href="#">
              Bp de contencion
            </a>
          </li>

          <li class="nav-item ">
            <a class="nav-link active" aria-current="page" href="#">
              Recursos multimedia
            </a>
          </li>
        </ul>

        <div class="d-flex justify-content-center align-items-center gap-3">
          <a href="{% url 'sign_in' %}" class="text-white text-decoration-none px-3 py-1 rounded-4"
            style="background-color: rgb(32, 90, 29);">Iniciar sesión</a>
          <a href="{% url 'sign_up' %}" class="text-white text-decoration-none px-3 py-1 rounded-4"
            style="background-color: rgb(17, 21, 82);">Registrarse</a>
        </div>

      </div>
    </div>
  </nav>

  <container>

    <img src="{% static '/img/banner.png' %}" class="img-fluid" alt="...">

  </container>
  <script src="{% static '/js/bootstrap.bundle.min.js' %}"></script>
</body>

</html>