{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>DPAR</title>
    <!-- Bootstrap -->
    <link href="{% static '/syles/bootstrap.min.css' %}" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">

</head>

<body>

    <nav class="navbar navbar-expand-lg navbar-dark"
        style="background: linear-gradient(to top right, #1D8E6E, #263E6C);">
        <div class="container-fluid">

            <a class="nav-link active" aria-current="page" href="{% url 'home' %}">
                <img src="{% static 'img/logo 4.png' %}" alt="Bootstrap" width="50" height="54">
            </a>            

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav justify-content-center flex-grow-1 pe-3">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="{% url 'home' %}">Inicio</a>
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            Bp de prevención
                        </a>
                        <ul class="dropdown-menu submenu multi-menu dropdown-menu-dark">
                            <li><a class="dropdown-item" href="{% url 'antivirus' %}">Antivirus</a></li>
                            <li><a class="dropdown-item" href="{% url 'firewall' %}">Firewall</a></li>
                            <li><a class="dropdown-item" href="{% url 'specialized' %}">Software especializado (DLP Y
                                    ZTNA)</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li class="nav-item dropend">
                                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                                    aria-expanded="false">
                                    Estándares de ciberseguridad
                                </a>
                                <ul class="dropdown-menu submenu multi-menu dropdown-menu-dark">
                                    <li><a class="dropdown-item" href="{% url 'zerotrust' %}">Zerotrust</a></li>
                                    <li><a class="dropdown-item" href="{% url 'iso' %}">ISO 27001</a></li>
                                    <li><a class="dropdown-item" href="{% url 'gdpr' %}">GDPR</a></li>
                                    <li><a class="dropdown-item" href="{% url 'siem' %}">SIEM</a></li>
                                </ul>
                            </li>
                        </ul>
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            Bp de contencion
                        </a>
                        <ul class="dropdown-menu submenu multi-menu dropdown-menu-dark">
                            <li><a class="dropdown-item" href="{% url 'first_step' %}">Primeros pasos</a></li>
                            <li><a class="dropdown-item" href="{% url 'identify' %}">Identificar la brecha</a></li>
                            <li><a class="dropdown-item" href="{% url 'close' %}">Cerrar brecha</a></li>
                        </ul>
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            Recursos multimedia
                        </a>
                        <ul class="dropdown-menu submenu multi-menu dropdown-menu-dark">
                            <li><a class="dropdown-item" href="{% url 'data' %}">Hojas técnicas</a></li>
                            <li><a class="dropdown-item" href="{% url 'brochure' %}">Brochures</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="{% url 'form' %}" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            Quiz
                        </a>
                        <ul class="dropdown-menu submenu multi-menu dropdown-menu-dark">
                            <li><a class="dropdown-item" href="{% url 'form' %}">Formulario</a></li>
                            <li>
                                <a class="dropdown-item" href="{% url 'consult' %}">Respuestas</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="{% url 'form' %}" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="bi bi-person"></i>
                        </a>
                        <ul class="dropdown-menu submenu multi-menu dropdown-menu-dark">
                            <li><a class="dropdown-item" href="{% url 'settings_user' %}">Configuración</a></li>
                            <li><a class="dropdown-item" href="{% url 'sign_out' %}">Cerrar sesión</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <script src="{% static '/js/bootstrap.bundle.min.js' %}"></script>
</body>

</html>