{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1"> 
    <title>DPAR</title>
    <!-- Bootstrap -->
	<link href="{% static '/styles/bootstrap.min.css' %}" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
	<link rel="stylesheet" href="{% static '/static/styles/pagina 1.css' %}">
</head>
<body>
  <section id="footer">
	  <footer class="text dark pt-5 pb-4">
      <div class="container text-center text-md-start">
        <div class="row text-center text-md-start">
          <div class="col-md-2 col-lg-2 col-xl-3 mx-auto mt-3">
            <h5 class="text-uppercase mb-4 font-weight-bold text-primary">Contacto</h5>
            <hr class="mb-4">
            
            <p><img src="{% static '/img/logo 4.png' %}" class="img-fluid" width="60" height="60"></p>

            <p><img src="{% static '/img/ITMORELIA.png' %}" class="img-fluid" width="60" height="60"></p>

            <p><img src="{% static '/img/IIES.png' %}" class="img-fluid" width="60" height="60"></p>
          </div>



          <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
            <h5 class="text-uppercase mb-4 font-weight-bold text-primary">Nosotros</h5>
            <hr class="mb-4">
            <p>Hay muchas variaciones de los pasajes de Lorem Ipsum disponibles, 
              pero la mayoría sufrió alteraciones en alguna manera, ya sea porque
              se le agregó humor, o palabras aleatorias que no parecen ni un poco 
              creíbles. Si vas a utilizar un pasaje de Lorem Ipsum, necesitás estar 
              seguro de que no hay nada avergonzante escondido en el medio del texto.</p>
          </div>

          

          <div class="col-md-2 col-lg-2 col-xl-3 mx-auto mt-3">
            <h5 class="text-uppercase mb-4 font-weight-bold text-primary">Contacto</h5>
            <hr class="mb-4">
            <p>
              <i class="bi bi-house"></i> Morelia
            </p>
            <p>
              <i class="bi bi-envelope"></i>ejemplo@gmail.com
            </p>
            <p>
              <i class="bi bi-telephone"></i>4432556090
            </p>
          </div>
          
          <hr class="mb-4">
          <div class="text-center mb-2">
            <p>
              Copyright, Todos los derechos reservados
              <a href="#">
                <strong class="text-primary">###</strong>
              </a>
            </p>
          </div>


          </div>
        </div>
      </div>
    </footer>
	  </section>

    <script src="../js/bootstrap.bundle.min.js"></script>
    </body>
</html>